<script setup lang="ts"></script>

<template>
  <div class="about">
    <p><a href="https://github.com/barbagroup/CFDPython">12 steps to CFD</a> on the web.</p>
  </div>
</template>

<style scoped>
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}
</style>
