<script setup lang="ts">
import { ref } from 'vue'
import LessonView from '../components/LessonView.vue'
import { Lesson4 } from '../lessons/Lesson4'
import type { Lesson4DisplayOptions } from '../lessons/Lesson4'
import type { FlowOptions } from '../lessons/Flow'

let lesson: Lesson4 | null = null

const initialDomainSize = 2.0 * Math.PI

const flowOptions = ref<FlowOptions>({
  domainSize: initialDomainSize,
  gridSize: initialDomainSize / 101,
  waveSpeed: 1.0,
  nonLinear: false,
  viscosity: 0.07
})

const displayOptions = ref<Lesson4DisplayOptions>({
  displayDomain: true,
  displayGrid: true
})

const timeStepSecs = ref<number>(0)

function getLesson(gl: WebGLRenderingContext) {
  lesson = new Lesson4(gl, flowOptions.value, displayOptions.value)
  timeStepSecs.value = lesson.getTimeStepSecs()
  return lesson
}

function updateFlowOptions() {
  if (lesson) {
    lesson.setFlowOptions(flowOptions.value)
    timeStepSecs.value = lesson.getTimeStepSecs()
  }
}

function updateDisplayOptions() {
  if (lesson) {
    lesson.setDisplayOptions(displayOptions.value)
  }
}
</script>

<template>
  <div class="wrapper">
    <LessonView class="lesson" :getLesson="getLesson" />

    <div class="controls">
      <div class="input">
        <label> Domain Size {{ flowOptions.domainSize }} </label>
      </div>

      <div class="input">
        <label> Grid Size (dx) {{ flowOptions.gridSize }} </label>
      </div>

      <div class="input">
        <label> Viscosity (nu) {{ flowOptions.viscosity }} </label>
      </div>

      <div class="input">
        <p>Time step (s): {{ timeStepSecs }}</p>
      </div>

      <div class="input">
        <button @click="updateFlowOptions">Refresh</button>
      </div>

      <div class="input">
        <label>
          Display Domain
          <input
            v-model="displayOptions.displayDomain"
            @change="updateDisplayOptions"
            type="checkbox"
          />
        </label>
      </div>

      <div class="input">
        <label>
          Display Grid
          <input
            v-model="displayOptions.displayGrid"
            @change="updateDisplayOptions"
            type="checkbox"
          />
        </label>
      </div>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  }

  .lesson {
    max-width: 70%;
  }

  .controls {
    display: flex;
    flex-grow: 1;
  }
}
</style>
