<script setup lang="ts">
import { ref } from 'vue'
import LessonView from '../components/LessonView.vue'
import { Lesson1 } from '../lessons/Lesson1'
import type { Lesson1DisplayOptions } from '../lessons/Lesson1'
import type { FlowOptions } from '../lessons/Flow'

let lesson: Lesson1 | null = null

const flowOptions = ref<FlowOptions>({
  domainSize: 2.0,
  gridSize: 0.05,
  waveSpeed: 1.0,
  nonLinear: false,
  viscosity: 1.0
})

const displayOptions = ref<Lesson1DisplayOptions>({
  displayDomain: true,
  displayGrid: true
})

const timeStepSecs = ref<number>(0)

function getLesson(gl: WebGLRenderingContext) {
  lesson = new Lesson1(gl, flowOptions.value, displayOptions.value)
  timeStepSecs.value = lesson.getTimeStepSecs()
  return lesson
}

function updateFlowOptions() {
  if (lesson) {
    lesson.setFlowOptions(flowOptions.value)
    timeStepSecs.value = lesson.getTimeStepSecs()
  }
}

function updateDisplayOptions() {
  if (lesson) {
    lesson.setDisplayOptions(displayOptions.value)
  }
}
</script>

<template>
  <div class="wrapper">
    <LessonView class="lesson" :getLesson="getLesson" />

    <div class="controls">
      <div class="input">
        <label>
          Domain Size
          <input
            v-model="flowOptions.domainSize"
            @input="updateFlowOptions"
            style="slider"
            type="range"
            min="1"
            max="10"
            step="1"
          />
          {{ flowOptions.domainSize }}
        </label>
      </div>

      <div class="input">
        <label>
          Grid Size (dx)
          <input
            v-model="flowOptions.gridSize"
            @input="updateFlowOptions"
            style="slider"
            type="range"
            min="0.01"
            max="1"
            step="0.01"
          />
          {{ flowOptions.gridSize }}
        </label>
      </div>

      <div class="input">
        <label>
          Wave Speed (c)
          <input
            v-model="flowOptions.waveSpeed"
            @input="updateFlowOptions"
            style="slider"
            type="range"
            min="0.1"
            max="10"
            step="0.1"
          />
          {{ flowOptions.waveSpeed }}
        </label>
      </div>

      <div class="input">
        <p>Time step (s): {{ timeStepSecs }}</p>
      </div>

      <div class="input">
        <label>
          Non-Linear
          <input v-model="flowOptions.nonLinear" @change="updateFlowOptions" type="checkbox" />
        </label>
      </div>

      <div class="input">
        <label>
          Display Domain
          <input
            v-model="displayOptions.displayDomain"
            @change="updateDisplayOptions"
            type="checkbox"
          />
        </label>
      </div>

      <div class="input">
        <label>
          Display Grid
          <input
            v-model="displayOptions.displayGrid"
            @change="updateDisplayOptions"
            type="checkbox"
          />
        </label>
      </div>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  }

  .lesson {
    max-width: 70%;
  }

  .controls {
    display: flex;
    flex-grow: 1;
  }
}
</style>
