<script setup lang="ts">
import LessonView from '../components/LessonView.vue'
import { LessonCube } from '../lessons/LessonCube'

function getLesson(gl: WebGLRenderingContext) {
  return new LessonCube(gl)
}
</script>

<template>
  <LessonView :getLesson="getLesson" />
</template>
