<script setup lang="ts">
import { ref, onMounted, onUnmounted } from 'vue'

const props = defineProps({
  extensions: Array<string>
})
const emit = defineEmits<{
  (e: 'resize', width: number, height: number): void
  (e: 'start', gl: WebGLRenderingContext): void
  (e: 'stop'): void
  (e: 'mouse', event: MouseEvent): void
  (e: 'key', event: KeyboardEvent): void
  (e: 'wheel', event: WheelEvent): void
}>()

const element = ref<HTMLElement | null>(null)

let canvas: HTMLCanvasElement | null = null
let gl: WebGLRenderingContext | null = null

/**
 * Initializes WebGL when the canvas is ready.
 */
onMounted(() => {
  if (element === null) {
    throw new Error(`Canvas element is null`)
  }
  canvas = element.value as HTMLCanvasElement
  const options = { preserveDrawingBuffer: true }
  const context = canvas.getContext('webgl', options)

  if (!context) {
    throw new Error(`Failed to initialize WebGL context.`)
  }
  gl = context as WebGLRenderingContext

  if (props.extensions) {
    for (const extension of props.extensions) {
      if (!gl.getExtension(extension)) {
        throw new Error(`WebGL context does not support ${extension}`)
      }
    }
  }

  window.addEventListener('resize', resize)

  emit('start', gl)
  resize()
})

onUnmounted(() => {
  window.removeEventListener('resize', resize)
  emit('stop')
})

function resize(): void {
  if (canvas === null) {
    throw new Error(`Canvas element is null`)
  }
  canvas.width = canvas.clientWidth
  canvas.height = canvas.clientHeight

  emit('resize', canvas.width, canvas.height)
}

function onMouseMove(event: MouseEvent): void {
  emit('mouse', event)
}

function onKeyPress(event: KeyboardEvent): void {
  emit('key', event)
}

function onWheel(event: WheelEvent): void {
  emit('wheel', event)
}
</script>

<template>
  <canvas
    ref="element"
    tabindex="1"
    @mousemove="onMouseMove"
    @keypress="onKeyPress"
    @wheel="onWheel"
  >
    HTML5 canvas is not supported in this browser :(
  </canvas>
</template>
