<script setup lang="ts">
import Canvas3d from '../components/Canvas3d.vue'
import { Lesson } from '../lessons/Lesson'
import { UpdateLoop } from '../graphics'

const props = defineProps({
  getLesson: {
    type: Function,
    required: true
  }
})

const extensions = [`OES_texture_float`]
let lesson: Lesson | null = null
let updateLoop: UpdateLoop | null = null

function start(gl: WebGLRenderingContext) {
  lesson = props.getLesson(gl)
  if (!lesson) {
    throw new Error(`Lesson is null`)
  }
  updateLoop = new UpdateLoop(
    lesson.fixedStepUpdate.bind(lesson),
    lesson.frameUpdate.bind(lesson),
    lesson.init.bind(lesson)
  )
  updateLoop.run()
}

function onResize(width: number, height: number) {
  if (lesson) {
    lesson.resize(width, height)
  }
}

function stop(): void {
  if (updateLoop) {
    updateLoop.stop()
  }
  updateLoop = null
  lesson = null
}

function onMouse(event: MouseEvent): void {
  if (lesson) {
    lesson.onMouse(event)
  }
}

function onKey(event: KeyboardEvent): void {
  if (lesson) {
    lesson.onKey(event)
  }
}

function onWheel(event: WheelEvent): void {
  if (lesson) {
    lesson.onWheel(event)
  }
}
</script>

<template>
  <div class="wrapper">
    <Canvas3d
      :extensions="extensions"
      @resize="onResize"
      @start="start"
      @stop="stop"
      @mouse="onMouse"
      @key="onKey"
      @wheel="onWheel"
      class="canvas"
      ref="canvas"
    />
  </div>
</template>

<style scoped>
.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  overflow-y: auto;
}

.canvas {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: black;
}
</style>
