@import './base.css';

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-flow: column;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
